src/assets/ses/v11_application.wadl

<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:element name="agentDTO" type="Agent"/>

  <xs:element name="agentsDTO" type="Agents"/>

  <xs:element name="applicationGroupDTO" type="ApplicationGroup"/>

  <xs:element name="applicationGroupTreeDTO" type="ApplicationGroupTree"/>

  <xs:element name="applicationTreeDTO" type="ApplicationTree"/>

  <xs:element name="applicationsDTO" type="Applications"/>

  <xs:element name="auditPoliciesDTO" type="AuditPolicies"/>

  <xs:element name="auditPolicyDTO" type="AuditPolicy"/>

  <xs:element name="basePolicyDTO" type="Policy"/>

  <xs:element name="certificateDTO" type="certificateDTO"/>

  <xs:element name="certificatesDTO" type="certificatesDTO"/>

  <xs:element name="createAuditPolicyDTO" type="CreateAuditPolicy"/>

  <xs:element name="createDBSecurityPolicyDTO" type="CreateDBSecurityPolicy"/>

  <xs:element name="createDBServiceDTO" type="CreateDBService"/>

  <xs:element name="createHostToApplicationMappingDTO" type="CreateHostToApplicationMapping"/>

  <xs:element name="createProtectedIPDTO" type="CreateProtectedIP"/>

  <xs:element name="dasAssessmentRecordsFilterDTO" type="runsRecordsFilter"/>

  <xs:element name="dasAssessmentResultsFilterDTO" type="runsResultsFilter"/>

  <xs:element name="dasAssessmentRunsFieldsFilterDTO" type="runsRunsFieldsFilter"/>

  <xs:element name="dasAssessmentRunsFilterDTO" type="runsFilter"/>

  <xs:element name="dasAssessmentRunsIPsFilterDTO" type="runsIPsFilter"/>

  <xs:element name="dataInterfaceDTO" type="DataInterface"/>

  <xs:element name="dataInterfacesDTO" type="DataInterfaces"/>

  <xs:element name="datasetColumnsDTO" type="DatasetColumns"/>

  <xs:element name="datasetRecordsActionDTO" type="DatasetRecordsAction"/>

  <xs:element name="datasetRecordsDTO" type="DatasetRecords"/>

  <xs:element name="datasetRecordsOutputDTO" type="DatasetRecordsOutput"/>

  <xs:element name="datasetSingleColumnDTO" type="DatasetColumn"/>

  <xs:element name="dbApplicationDTO" type="DBApplication"/>

  <xs:element name="dbMappingDTO" type="DBMapping"/>

  <xs:element name="dbSecurityPoliciesDTO" type="DBSecurityPolicies"/>

  <xs:element name="dbSecurityPolicyDTO" type="DBSecurityPolicy"/>

  <xs:element name="dbServiceDTO" type="DBService"/>

  <xs:element name="gatewayDTO" type="Gateway"/>

  <xs:element name="gatewayGroupDTO" type="GatewayGroup"/>

  <xs:element name="gatewayGroupsDTO" type="GatewayGroups"/>

  <xs:element name="gatewaysDTO" type="Gateways"/>

  <xs:element name="hostToApplicationMappingDTO" type="HostToApplicationMapping"/>

  <xs:element name="hostToApplicationMappingsDTO" type="HostToApplicationMappings"/>

  <xs:element name="itemTypeToExportDTO" type="ItemTypeToExport"/>

  <xs:element name="itemsToExportDTO" type="ItemsToExport"/>

  <xs:element name="jobDTO" type="Job"/>

  <xs:element name="jobsDTO" type="Jobs"/>

  <xs:element name="krpItemDTO" type="krpItem"/>

  <xs:element name="krpItemDetailsDTO" type="krpItemDetails"/>

  <xs:element name="krpItemsDTO" type="krpItems"/>

  <xs:element name="krpRuleDTO" type="krpRule"/>

  <xs:element name="krpRulesDTO" type="KrpRules"/>

  <xs:element name="logLevelDTO" type="LogLevel"/>

  <xs:element name="mxDTO" type="Mx"/>

  <xs:element name="mxsDTO" type="Mxs"/>

  <xs:element name="protectedIPsDTO" type="ProtectedIPs"/>

  <xs:element name="rootApplicationGroupsTreeDTO" type="RootApplicationGroupsTree"/>

  <xs:element name="serverGroupDTO" type="ServerGroup"/>

  <xs:element name="serverGroupsDTO" type="ServerGroups"/>

  <xs:element name="servicesDTO" type="Services"/>

  <xs:element name="sessionIdDTO" type="SessionId"/>

  <xs:element name="siteDTO" type="Site"/>

  <xs:element name="sitesDTO" type="Sites"/>

  <xs:element name="sqlReplacementDTO" type="SQLReplacement"/>

  <xs:element name="strictModeDTO" type="StrictMode"/>

  <xs:element name="systemDefinitionDTO" type="SystemDefinition"/>

  <xs:element name="tagDTO" type="Tag"/>

  <xs:element name="tagsDTO" type="Tags"/>

  <xs:element name="updateDBServiceDTO" type="UpdateDBService"/>

  <xs:element name="updateProtectedIPDTO" type="UpdateProtectedIP"/>

  <xs:element name="uploadCertificateDTO" type="uploadCertificateDTO"/>

  <xs:element name="versionDTO" type="Version"/>

  <xs:element name="webApplicationCreationDTO" type="WebApplicationCreation"/>

  <xs:element name="webApplicationDTO" type="WebApplication"/>

  <xs:element name="webApplicationsDTO" type="WebApplications"/>

  <xs:element name="webServiceDTO" type="WebService"/>

  <xs:element name="webServiceDetailsDTO" type="WebServiceDetails"/>

  <xs:element name="webServicesDTO" type="WebServices"/>

  <xs:complexType name="LogLevel">
    <xs:sequence>
      <xs:element name="level" type="xs:string" minOccurs="0"/>
      <xs:element name="type" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="runsFilter">
    <xs:sequence>
      <xs:element name="end-date" type="xs:string" minOccurs="0"/>
      <xs:element name="scans" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="start-date" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="runsRecordsFilter">
    <xs:sequence>
      <xs:element name="end-date" type="xs:string" minOccurs="0"/>
      <xs:element name="result-ids" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="run-ids" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="start-date" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="DatasetRecordsOutput">
    <xs:complexContent>
      <xs:extension base="datasetBaseDTO">
        <xs:sequence>
          <xs:element name="records" type="hashMap" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element name="number-of-records" type="xs:int"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="datasetBaseDTO" abstract="true">
    <xs:sequence>
      <xs:element name="dataset-name" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="hashMap">
    <xs:complexContent>
      <xs:extension base="abstractMap">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="abstractMap" abstract="true">
    <xs:sequence/>
  </xs:complexType>

  <xs:complexType name="DatasetRecordsAction">
    <xs:complexContent>
      <xs:extension base="DatasetRecords">
        <xs:sequence>
          <xs:element name="action" type="datasetAction" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="DatasetRecords">
    <xs:sequence>
      <xs:element name="records" type="hashMap" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="WebApplicationCreation">
    <xs:sequence>
      <xs:element name="ignoreUrlsDirectories" type="xs:string" minOccurs="0"/>
      <xs:element name="learnSettings" type="xs:string" minOccurs="0"/>
      <xs:element name="parseOCSPRequests" type="xs:boolean" minOccurs="0"/>
      <xs:element name="restrictMonitoringToUrls" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="DBApplication">
    <xs:sequence>
      <xs:element name="name" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="HostToApplicationMapping">
    <xs:sequence>
      <xs:element name="application" type="xs:string" minOccurs="0"/>
      <xs:element name="host" type="xs:string" minOccurs="0"/>
      <xs:element name="hostMatchType" type="xs:string" minOccurs="0"/>
      <xs:element name="priority" type="xs:int" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="ApplicationGroupTree">
    <xs:sequence>
      <xs:element name="applications" type="ApplicationTree" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="application-groups" type="ApplicationGroupTree" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="name" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="ApplicationTree">
    <xs:sequence>
      <xs:element name="application" type="xs:string" minOccurs="0"/>
      <xs:element name="server-group" type="xs:string" minOccurs="0"/>
      <xs:element name="service" type="xs:string" minOccurs="0"/>
      <xs:element name="site" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="DataInterfaces">
    <xs:sequence>
      <xs:element name="data-interfaces" type="DataInterface" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="DataInterface">
    <xs:sequence>
      <xs:element name="id" type="xs:string" minOccurs="0"/>
      <xs:element name="port" type="xs:string" minOccurs="0"/>
      <xs:element name="type" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="ProtectedIPs">
    <xs:sequence>
      <xs:element name="protected-ips" type="UpdateProtectedIP" minOccurs="0" maxOccurs="unbounded"/
>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="UpdateProtectedIP">
    <xs:sequence>
      <xs:element name="comment" type="xs:string" minOccurs="0"/>
      <xs:element name="gateway-group" type="xs:string" minOccurs="0"/>
      <xs:element name="ip" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="WebServices">
    <xs:sequence>
      <xs:element name="web-services" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="GatewayGroups">
    <xs:sequence>
      <xs:element name="gateway-groups" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="WebApplication">
    <xs:sequence>
      <xs:element name="appName" type="xs:string" minOccurs="0"/>
      <xs:element name="ignoreUrlsDirectories" type="xs:string" minOccurs="0"/>
      <xs:element name="learnSettings" type="xs:string" minOccurs="0"/>
      <xs:element name="parseOCSPRequests" type="xs:boolean" minOccurs="0"/>
      <xs:element name="restrictMonitoringToUrls" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="Agents">
    <xs:sequence>
      <xs:element name="agents" type="Agent" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="Agent">
    <xs:sequence>
      <xs:element name="ip" type="xs:string" minOccurs="0"/>
      <xs:element name="name" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="uploadCertificateDTO">
    <xs:sequence>
      <xs:element name="format" type="xs:string" minOccurs="0"/>
      <xs:element name="hsm" type="xs:boolean" minOccurs="0"/>
      <xs:element name="certificate" type="xs:string" minOccurs="0"/>
      <xs:element name="private" type="xs:string" minOccurs="0"/>
      <xs:element name="pkcs12file" type="xs:string" minOccurs="0"/>
      <xs:element name="password" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="KrpRules">
    <xs:sequence>
      <xs:element name="outboundKrpRules" type="KrpRulePresentation" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="KrpRulePresentation">
    <xs:sequence>
      <xs:element name="externalHost" type="xs:string" minOccurs="0"/>
      <xs:element name="internalIpHost" type="xs:string" minOccurs="0"/>
      <xs:element name="priority" type="xs:int" minOccurs="0"/>
      <xs:element name="serverPort" type="xs:int" minOccurs="0"/>
      <xs:element name="urlPrefix" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="SessionId">
    <xs:sequence>
      <xs:element name="session-id" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="Tags">
    <xs:sequence>
      <xs:element name="tags" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="ServerGroups">
    <xs:sequence>
      <xs:element name="server-groups" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="Mxs">
    <xs:sequence>
      <xs:element name="mxs" type="Mx" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="Mx">
    <xs:sequence>
      <xs:element name="host" type="xs:string" minOccurs="0"/>
      <xs:element name="name" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="Applications">
    <xs:sequence>
      <xs:element name="applications" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="Version">
    <xs:sequence>
      <xs:element name="serverVersion" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="AuditPolicies">
    <xs:sequence>
      <xs:element name="audit-policies" type="AuditPolicy" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="AuditPolicy">
    <xs:complexContent>
      <xs:extension base="Policy">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="Policy">
    <xs:sequence>
      <xs:element name="policy-name" type="xs:string" minOccurs="0"/>
      <xs:element name="policy-type" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="krpItems">
    <xs:sequence>
      <xs:element name="inboundKrpRules" type="krpItemDetails" minOccurs="0" maxOccurs="unbounded"/>

    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="krpItemDetails">
    <xs:sequence>
      <xs:element name="aliasName" type="xs:string" minOccurs="0"/>
      <xs:element name="clientAuthenticationAuthorities" type="xs:string" minOccurs="0"/>
      <xs:element name="clientAuthenticationRules">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="entry" minOccurs="0" maxOccurs="unbounded">
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="key" minOccurs="0" type="xs:int"/>
                  <xs:element name="value" minOccurs="0" type="xs:string"/>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="gatewayGroupName" type="xs:string" minOccurs="0"/>
      <xs:element name="gatewayPorts" type="xs:int" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="serverCertificate" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="UpdateDBService">
    <xs:complexContent>
      <xs:extension base="DBService">
        <xs:sequence>
          <xs:element name="db-mappings" type="DBMapping" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element name="default-application" type="xs:string" minOccurs="0"/>
          <xs:element name="name" type="xs:string" minOccurs="0"/>
          <xs:element name="text-replacement" type="SQLReplacement" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="DBService" abstract="true">
    <xs:sequence>
      <xs:element name="ports" type="xs:int" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="DBMapping">
    <xs:sequence>
      <xs:element name="application" type="xs:string" minOccurs="0"/>
      <xs:element name="database" type="xs:string" minOccurs="0"/>
      <xs:element name="schema" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="SQLReplacement">
    <xs:sequence>
      <xs:element name="advanced" type="xs:boolean"/>
      <xs:element name="location" type="xs:string" minOccurs="0"/>
      <xs:element name="pattern" type="xs:string" minOccurs="0"/>
      <xs:element name="replacement" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="certificatesDTO">
    <xs:sequence>
      <xs:element name="sslKeyName" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="WebServiceDetails">
    <xs:sequence>
      <xs:element name="default-application" type="xs:string" minOccurs="0"/>
      <xs:element name="name" type="xs:string" minOccurs="0"/>
      <xs:element name="ports" type="xs:int" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="sslPorts" type="xs:int" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="Jobs">
    <xs:sequence>
      <xs:element name="jobs" type="Job" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="Job">
    <xs:sequence>
      <xs:element name="aborting" type="xs:boolean" minOccurs="0"/>
      <xs:element name="abortable" type="xs:boolean" minOccurs="0"/>
      <xs:element name="id" type="xs:long" minOccurs="0"/>
      <xs:element name="name" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="Services">
    <xs:sequence>
      <xs:element name="db-services" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="CreateDBSecurityPolicy">
    <xs:sequence>
      <xs:element name="policy-type" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="Sites">
    <xs:sequence>
      <xs:element name="sites" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="WebService">
    <xs:sequence>
      <xs:element name="ports" type="xs:int" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="sslPorts" type="xs:int" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="CreateAuditPolicy">
    <xs:sequence>
      <xs:element name="policy-type" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="Site">
    <xs:sequence>
      <xs:element name="name" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="SystemDefinition">
    <xs:sequence>
      <xs:element name="value" type="xs:anyType" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="HostToApplicationMappings">
    <xs:sequence>
      <xs:element name="hostToAppMappings" type="HostToApplicationMapping" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="DatasetColumns">
    <xs:complexContent>
      <xs:extension base="datasetBaseDTO">
        <xs:sequence>
          <xs:element name="columns" type="DatasetColumn" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element name="number-of-columns" type="xs:int"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="DatasetColumn">
    <xs:sequence>
      <xs:element name="key" type="xs:boolean"/>
      <xs:element name="name" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="CreateProtectedIP">
    <xs:sequence>
      <xs:element name="comment" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="krpRule">
    <xs:sequence>
      <xs:element name="clientAuthenticationRules" type="xs:string" minOccurs="0"/>
      <xs:element name="encrypt" type="xs:boolean" minOccurs="0"/>
      <xs:element name="externalHost" type="xs:string" minOccurs="0"/>
      <xs:element name="internalIpHost" type="xs:string" minOccurs="0"/>
      <xs:element name="serverPort" type="xs:int" minOccurs="0"/>
      <xs:element name="urlPrefix" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="CreateHostToApplicationMapping">
    <xs:sequence>
      <xs:element name="host" type="xs:string" minOccurs="0"/>
      <xs:element name="hostMatchType" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="krpItem">
    <xs:sequence>
      <xs:element name="clientAuthenticationAuthorities" type="xs:string" minOccurs="0"/>
      <xs:element name="outboundRules">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="entry" minOccurs="0" maxOccurs="unbounded">
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="key" minOccurs="0" type="xs:int"/>
                  <xs:element name="value" minOccurs="0" type="krpRule"/>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="serverCertificate" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="ItemsToExport">
    <xs:sequence>
      <xs:element name="items-to-export" type="ItemTypeToExport" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="ItemTypeToExport">
    <xs:sequence>
      <xs:element name="names" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="type" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="runsResultsFilter">
    <xs:sequence>
      <xs:element name="end-date" type="xs:string" minOccurs="0"/>
      <xs:element name="run-ids" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="start-date" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="WebApplications">
    <xs:sequence>
      <xs:element name="webApplications" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="ServerGroup">
    <xs:sequence>
      <xs:element name="name" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="Tag">
    <xs:sequence>
      <xs:element name="name" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="runsRunsFieldsFilter">
    <xs:sequence>
      <xs:element name="end-date" type="xs:string" minOccurs="0"/>
      <xs:element name="run-ids" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="start-date" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="RootApplicationGroupsTree">
    <xs:sequence>
      <xs:element name="application-groups" type="ApplicationGroupTree" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="DBSecurityPolicies">
    <xs:sequence>
      <xs:element name="db-security-policies" type="DBSecurityPolicy" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="DBSecurityPolicy">
    <xs:complexContent>
      <xs:extension base="Policy">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="runsIPsFilter">
    <xs:sequence>
      <xs:element name="end-date" type="xs:string" minOccurs="0"/>
      <xs:element name="run-ids" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="start-date" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="certificateDTO">
    <xs:sequence>
      <xs:element name="hsm" type="xs:boolean"/>
      <xs:element name="issuer" type="xs:string" minOccurs="0"/>
      <xs:element name="sslKeyName" type="xs:string" minOccurs="0"/>
      <xs:element name="validFrom" type="xs:long"/>
      <xs:element name="validTo" type="xs:long"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="GatewayGroup">
    <xs:sequence>
      <xs:element name="cluster" type="xs:boolean"/>
      <xs:element name="failMode" type="xs:string" minOccurs="0"/>
      <xs:element name="gatewayGroupName" type="xs:string" minOccurs="0"/>
      <xs:element name="gatewayMode" type="xs:string" minOccurs="0"/>
      <xs:element name="gatewayPlatform" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="ApplicationGroup">
    <xs:sequence>
      <xs:element name="name" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="CreateDBService">
    <xs:complexContent>
      <xs:extension base="DBService">
        <xs:sequence>
          <xs:element name="db-service-type" type="xs:string" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="StrictMode">
    <xs:sequence>
      <xs:element name="mode" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="Gateways">
    <xs:sequence>
      <xs:element name="gateways" type="Gateway" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="Gateway">
    <xs:sequence>
      <xs:element name="ip" type="xs:string" minOccurs="0"/>
      <xs:element name="name" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:simpleType name="datasetAction">
    <xs:restriction base="xs:string">
      <xs:enumeration value="add"/>
      <xs:enumeration value="delete"/>
    </xs:restriction>
  </xs:simpleType>
</xs:schema>