src/assets/xsd0_v12_2_60.xsd

<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:element name="agent-config" nillable="true" type="xs:anyType"/>

  <xs:element name="agent-general-details" type="agentGeneralDetailsDTO"/>

  <xs:element name="agentDTO" type="Agent"/>

  <xs:element name="agentsDTO" type="Agents"/>

  <xs:element name="applicationGroupDTO" type="ApplicationGroup"/>

  <xs:element name="applicationGroupTreeDTO" type="ApplicationGroupTree"/>

  <xs:element name="applicationTreeDTO" type="ApplicationTree"/>

  <xs:element name="applicationsDTO" type="Applications"/>

  <xs:element name="auditPoliciesDTO" type="AuditPolicies"/>

  <xs:element name="auditPolicyDTO" type="AuditPolicy"/>

  <xs:element name="basePolicyDTO" type="Policy"/>

  <xs:element name="certificateDTO" type="certificateDTO"/>

  <xs:element name="certificatesDTO" type="certificatesDTO"/>

  <xs:element name="challengeDTO" type="Challenge"/>

  <xs:element name="cookieNameDTO" type="cookieName"/>

  <xs:element name="cpu-restrainig" type="agentCpuUsageRestrainingDTO"/>

  <xs:element name="createAuditPolicyDTO" type="CreateAuditPolicy"/>

  <xs:element name="createDBSecurityPolicyDTO" type="CreateDBSecurityPolicy"/>

  <xs:element name="createDBServiceDTO" type="CreateDBService"/>

  <xs:element name="createHostToApplicationMappingDTO" type="CreateHostToApplicationMapping"/>

  <xs:element name="createProtectedIPDTO" type="CreateProtectedIP"/>

  <xs:element name="customWebPolicyDTO" type="createCustomPolicyDTO"/>

  <xs:element name="customWebPredicateDTO" type="predicate"/>

  <xs:element name="dasAssessmentRecordsFilterDTO" type="runsRecordsFilter"/>

  <xs:element name="dasAssessmentResultsFilterDTO" type="runsResultsFilter"/>

  <xs:element name="dasAssessmentRunsFieldsFilterDTO" type="runsRunsFieldsFilter"/>

  <xs:element name="dasAssessmentRunsFilterDTO" type="runsFilter"/>

  <xs:element name="dasAssessmentRunsIPsFilterDTO" type="runsIPsFilter"/>

  <xs:element name="dataInterfaceDTO" type="DataInterface"/>

  <xs:element name="dataInterfacesDTO" type="DataInterfaces"/>

  <xs:element name="datasetColumnsDTO" type="DatasetColumns"/>

  <xs:element name="datasetRecordsActionDTO" type="DatasetRecordsAction"/>

  <xs:element name="datasetRecordsDTO" type="DatasetRecords"/>

  <xs:element name="datasetRecordsOutputDTO" type="DatasetRecordsOutput"/>

  <xs:element name="datasetSingleColumnDTO" type="DatasetColumn"/>

  <xs:element name="dbApplicationDTO" type="DBApplication"/>

  <xs:element name="dbConnectionDTO" type="DB-connection"/>

  <xs:element name="dbConnectionsDTO" type="DB-connections"/>

  <xs:element name="dbMappingDTO" type="DBMapping"/>

  <xs:element name="dbSecurityPoliciesDTO" type="DBSecurityPolicies"/>

  <xs:element name="dbSecurityPolicyDTO" type="DBSecurityPolicy"/>

  <xs:element name="dbServiceDTO" type="DBService"/>

  <xs:element name="discovery-settings" type="agentDiscoverySettingsDTO"/>

  <xs:element name="doFileContext" type="DopFileContext"/>

  <xs:element name="doFileObjectDTO" type="DopFileObjectDTO"/>

  <xs:element name="doFileObjectsDTO" type="DopFileObjectsDTO"/>

  <xs:element name="doFolderWithUpdatedToDoDTO" type="DOFolderWithUpdatedToDoDTO"/>

  <xs:element name="doFoldersToCheckTodoDTO" type="DOFoldersToCheckTodoDTO"/>

  <xs:element name="dopApplicationDataDTO" type="DopApplicationDataDTO"/>

  <xs:element name="dopFileObjPathInfoDTO" type="DopFileObjPathInfoDTO"/>

  <xs:element name="dopOperationNavigationRequestDTO" type="DopOperationNavigationRequestDTO"/>

  <xs:element name="dopOperationNavigationResponseDTO" type="DopOperationNavigationResponseDTO"/>

  <xs:element name="dopOperationObjectDTO" type="DopOperationObjectDTO"/>

  <xs:element name="dopOperationPermissionDTO" type="DopOperationPermissionDTO"/>

  <xs:element name="dopPrincipalPermissionPairDTO" type="DopPrincipalPermissionPairDTO"/>

  <xs:element name="dopUpdateOperationDTO" type="DopUpdateOperationDTO"/>

  <xs:element name="dopUpdateOperationInfoDTO" type="DopUpdateOperationInfoDTO"/>

  <xs:element name="dopUpdateOperationTargetDTO" type="DopUpdateOperationTargetDTO"/>

  <xs:element name="dopUserInGroupDTO" type="DopUserInGroup"/>

  <xs:element name="dopUsersInGroupDTO" type="DopUsersInGroup"/>

  <xs:element name="famRepositoryUserDTO" type="FamRepositoryUser"/>

  <xs:element name="famRepositoryUsersDTO" type="FamRepositoryUsers"/>

  <xs:element name="filePermissionDTO" type="FilePermission"/>

  <xs:element name="filePermissionsDTO" type="FilePermissions"/>

  <xs:element name="filePermissionsStatisticsDTO" type="FilePermissionsStat"/>

  <xs:element name="firewallPolicyDTO" type="FirewallPolicy"/>

  <xs:element name="firewallRuleDTO" type="FirewallRule"/>

  <xs:element name="folderIdWithUpdatedTodoDTO" type="FolderIdWithUpdatedTodoDTO"/>

  <xs:element name="folderInfoPairDTO" type="FolderInfoPairDTO"/>

  <xs:element name="forwardedConnectionDTO" type="forwardConnection"/>

  <xs:element name="forwardedConnectionsDTO" type="forwardConnections"/>

  <xs:element name="gatewayDTO" type="Gateway"/>

  <xs:element name="gatewayGroupDTO" type="GatewayGroup"/>

  <xs:element name="gatewayGroupsDTO" type="GatewayGroups"/>

  <xs:element name="gatewaysDTO" type="Gateways"/>

  <xs:element name="hostToApplicationMappingDTO" type="HostToApplicationMapping"/>

  <xs:element name="hostToApplicationMappingsDTO" type="HostToApplicationMappings"/>

  <xs:element name="ipGroupEntriesDTO" type="IpGroupEntries"/>

  <xs:element name="ipGroupEntryDTO" type="IpGroupEntry"/>

  <xs:element name="itemTypeToExportDTO" type="ItemTypeToExport"/>

  <xs:element name="itemsToExportDTO" type="ItemsToExport"/>

  <xs:element name="jobDTO" type="Job"/>

  <xs:element name="jobsDTO" type="Jobs"/>

  <xs:element name="krpAliasDTO" type="GatewayAlias"/>

  <xs:element name="krpForwardedClientIpDTO" type="krpForwardedClientIp"/>

  <xs:element name="krpItemDTO" type="krpItem"/>

  <xs:element name="krpItemDetailsDTO" type="krpItemDetails"/>

  <xs:element name="krpItemsDTO" type="krpItems"/>

  <xs:element name="krpRuleDTO" type="krpRule"/>

  <xs:element name="krpRulesDTO" type="KrpRules"/>

  <xs:element name="licenseFileDTO" type="LicenseFile"/>

  <xs:element name="logLevelDTO" type="LogLevel"/>

  <xs:element name="mxDTO" type="Mx"/>

  <xs:element name="mxsDTO" type="Mxs"/>

  <xs:element name="osConnectionDTO" type="OS-connection"/>

  <xs:element name="osConnectionsDTO" type="OS-connections"/>

  <xs:element name="policyApplyToDTO" type="applyTo"/>

  <xs:element name="protectedIPsDTO" type="ProtectedIPs"/>

  <xs:element name="recordsRangeDTO" type="RecordsRange"/>

  <xs:element name="registrationTokenDTO" type="RegistrationToken"/>

  <xs:element name="rootApplicationGroupsTreeDTO" type="RootApplicationGroupsTree"/>

  <xs:element name="serverGroupDTO" type="ServerGroup"/>

  <xs:element name="serverGroupsDTO" type="ServerGroups"/>

  <xs:element name="servicesDTO" type="Services"/>

  <xs:element name="sessionIdDTO" type="SessionId"/>

  <xs:element name="siteDTO" type="Site"/>

  <xs:element name="sitesDTO" type="Sites"/>

  <xs:element name="sqlReplacementDTO" type="SQLReplacement"/>

  <xs:element name="strictModeDTO" type="StrictMode"/>

  <xs:element name="systemDefinitionDTO" type="SystemDefinition"/>

  <xs:element name="tableGroupRecordsActionDTO" type="TableGroupRecordsAction"/>

  <xs:element name="tableGroupRecordsDTO" type="TableGroupRecords"/>

  <xs:element name="tableGroupRecordsOutputDTO" type="TableGroupRecordsOutput"/>

  <xs:element name="tagDTO" type="Tag"/>

  <xs:element name="taggedItemDTO" type="TaggedItem"/>

  <xs:element name="taggedItemsDTO" type="TaggedItems"/>

  <xs:element name="tagsDTO" type="Tags"/>

  <xs:element name="treeFolderObjDTO" type="TreeFolderObj"/>

  <xs:element name="treeFolderObjsDTO" type="TreeFolderObjs"/>

  <xs:element name="updateDBServiceDTO" type="UpdateDBService"/>

  <xs:element name="updateProtectedIPDTO" type="UpdateProtectedIP"/>

  <xs:element name="uploadCertificateDTO" type="uploadCertificateDTO"/>

  <xs:element name="versionDTO" type="Version"/>

  <xs:element name="webApplicationCreationDTO" type="WebApplicationCreation"/>

  <xs:element name="webApplicationDTO" type="WebApplication"/>

  <xs:element name="webApplicationsDTO" type="WebApplications"/>

  <xs:element name="webServiceDTO" type="WebService"/>

  <xs:element name="webServiceDetailsDTO" type="WebServiceDetails"/>

  <xs:element name="webServicesDTO" type="WebServices"/>

  <xs:complexType name="DOFolderWithUpdatedToDoDTO">
    <xs:sequence>
      <xs:element name="do-file-context" type="DopFileContext" minOccurs="0"/>
      <xs:element name="folders-ids-with-updated-todo" type="FolderIdWithUpdatedTodoDTO" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="DopFileContext">
    <xs:sequence>
      <xs:element name="catalog-index" type="xs:int" minOccurs="0"/>
      <xs:element name="host" type="xs:string" minOccurs="0"/>
      <xs:element name="port" type="xs:int" minOccurs="0"/>
      <xs:element name="protocol-type" type="fileProtocolType" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="FolderIdWithUpdatedTodoDTO">
    <xs:sequence>
      <xs:element name="hasTodo" type="xs:boolean" minOccurs="0"/>
      <xs:element name="id" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="CreateAuditPolicy">
    <xs:sequence>
      <xs:element name="policy-type" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="UpdateProtectedIP">
    <xs:sequence>
      <xs:element name="comment" type="xs:string" minOccurs="0"/>
      <xs:element name="gateway-group" type="xs:string" minOccurs="0"/>
      <xs:element name="ip" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="SessionId">
    <xs:sequence>
      <xs:element name="session-id" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="Services">
    <xs:sequence>
      <xs:element name="db-services" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="advancedConfigParamsDTO">
    <xs:sequence>
      <xs:element name="changelist">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="entry" minOccurs="0" maxOccurs="unbounded">
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="key" minOccurs="0" type="xs:string"/>
                  <xs:element name="value" minOccurs="0" type="xs:string"/>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="krpForwardedClientIp">
    <xs:sequence>
      <xs:element name="forwardClientIP" type="xs:boolean" minOccurs="0"/>
      <xs:element name="forwardHeaderName" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="certificatesDTO">
    <xs:sequence>
      <xs:element name="sslKeyName" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="LogLevel">
    <xs:sequence>
      <xs:element name="level" type="xs:string" minOccurs="0"/>
      <xs:element name="type" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="runsIPsFilter">
    <xs:sequence>
      <xs:element name="end-date" type="xs:string" minOccurs="0"/>
      <xs:element name="run-ids" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="start-date" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="FilePermissions">
    <xs:sequence>
      <xs:element name="file-permissions" type="FilePermission" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="total-records" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="FilePermission">
    <xs:sequence>
      <xs:element name="comment" type="xs:string" minOccurs="0"/>
      <xs:element name="is-direct" type="xs:boolean" minOccurs="0"/>
      <xs:element name="group-modified-since-last-review" type="xs:boolean" minOccurs="0"/>
      <xs:element name="inherited-status" type="xs:boolean" minOccurs="0"/>
      <xs:element name="permission-types" type="xs:string" minOccurs="0"/>
      <xs:element name="principal-id" type="xs:long" minOccurs="0"/>
      <xs:element name="principal-name" type="xs:string" minOccurs="0"/>
      <xs:element name="principal-type" type="principalType" minOccurs="0"/>
      <xs:element name="status" type="permissionStatus" minOccurs="0"/>
      <xs:element name="is-task" type="xs:boolean" minOccurs="0"/>
      <xs:element name="user-last-access-date" type="xs:long" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="CreateDBSecurityPolicy">
    <xs:sequence>
      <xs:element name="policy-type" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="HostToApplicationMapping">
    <xs:sequence>
      <xs:element name="application" type="xs:string" minOccurs="0"/>
      <xs:element name="host" type="xs:string" minOccurs="0"/>
      <xs:element name="hostMatchType" type="xs:string" minOccurs="0"/>
      <xs:element name="priority" type="xs:int" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="KrpRules">
    <xs:sequence>
      <xs:element name="outboundKrpRules" type="KrpRulePresentation" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="KrpRulePresentation">
    <xs:sequence>
      <xs:element name="clientCertificate" type="xs:string" minOccurs="0"/>
      <xs:element name="externalHost" type="xs:string" minOccurs="0"/>
      <xs:element name="internalIpHost" type="xs:string" minOccurs="0"/>
      <xs:element name="priority" type="xs:int" minOccurs="0"/>
      <xs:element name="serverPort" type="xs:int" minOccurs="0"/>
      <xs:element name="urlPrefix" type="xs:string" minOccurs="0"/>
      <xs:element name="validateServerCertificate" type="xs:boolean" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="krpItem">
    <xs:sequence>
      <xs:element name="clientAuthenticationAuthorities" type="xs:string" minOccurs="0"/>
      <xs:element name="outboundRules">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="entry" minOccurs="0" maxOccurs="unbounded">
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="key" minOccurs="0" type="xs:int"/>
                  <xs:element name="value" minOccurs="0" type="krpRule"/>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="serverCertificate" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="krpRule">
    <xs:sequence>
      <xs:element name="clientAuthenticationRules" type="xs:string" minOccurs="0"/>
      <xs:element name="clientCertificate" type="xs:string" minOccurs="0"/>
      <xs:element name="encrypt" type="xs:boolean" minOccurs="0"/>
      <xs:element name="externalHost" type="xs:string" minOccurs="0"/>
      <xs:element name="internalIpHost" type="xs:string" minOccurs="0"/>
      <xs:element name="serverPort" type="xs:int" minOccurs="0"/>
      <xs:element name="urlPrefix" type="xs:string" minOccurs="0"/>
      <xs:element name="validateServerCertificate" type="xs:boolean" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="DopUsersInGroup">
    <xs:sequence>
      <xs:element name="dop-users-in-group" type="DopUserInGroup" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="total-records" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="DopUserInGroup">
    <xs:sequence>
      <xs:element name="department" type="xs:string" minOccurs="0"/>
      <xs:element name="last-access-date" type="xs:long" minOccurs="0"/>
      <xs:element name="user-name" type="xs:string" minOccurs="0"/>
      <xs:element name="is-user-new-in-group" type="xs:boolean" minOccurs="0"/>
      <xs:element name="user-title" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="createCustomPolicyDTO">
    <xs:sequence>
      <xs:element name="action" type="xs:string" minOccurs="0"/>
      <xs:element name="displayResponsePage" type="xs:boolean" minOccurs="0"/>
      <xs:element name="enabled" type="xs:boolean" minOccurs="0"/>
      <xs:element name="followedAction" type="xs:string" nillable="true" minOccurs="0"/>
      <xs:element name="matchCriteria" type="predicate" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="oneAlertPerSession" type="xs:boolean" minOccurs="0"/>
      <xs:element name="applyTo" type="policyApplyToServiceDTO" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="sendToCD" type="xs:boolean" minOccurs="0"/>
      <xs:element name="severity" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="predicate">
    <xs:sequence>
      <xs:element name="applyIfUnidentified" type="xs:boolean" minOccurs="0"/>
      <xs:element name="attribute" type="xs:string" minOccurs="0"/>
      <xs:element name="clientTypes" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="context" type="xs:string" minOccurs="0"/>
      <xs:element name="cookieNames" type="cookieName" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="dictionaries" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="matchUnknownValue" type="xs:boolean" minOccurs="0"/>
      <xs:element name="matchValues" type="httpRequestMatchValueDTO" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="ipGroups" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="locations" type="xs:string" minOccurs="0"/>
      <xs:element name="lookupDataset" type="xs:string" minOccurs="0"/>
      <xs:element name="field" type="xs:string" minOccurs="0"/>
      <xs:element name="searchInLookupDataset" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="searchInUserValues" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="match" type="xs:string" minOccurs="0"/>
      <xs:element name="matchNoOrUnknownUser" type="xs:boolean" minOccurs="0"/>
      <xs:element name="matchNonProxied" type="xs:boolean" minOccurs="0"/>
      <xs:element name="name" type="xs:string" minOccurs="0"/>
      <xs:element name="operation" type="xs:string" minOccurs="0"/>
      <xs:element name="searchMode" type="xs:string" minOccurs="0"/>
      <xs:element name="signatures" type="signatureDTO" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="restrictions" type="timeOfDayRestrictionDTO" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="numTimes" type="xs:int" minOccurs="0"/>
      <xs:element name="type" type="xs:string" minOccurs="0"/>
      <xs:element name="userDefined" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="userDefinedFieldName" type="xs:string" minOccurs="0"/>
      <xs:element name="value" type="xs:string" minOccurs="0"/>
      <xs:element name="values" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="withinSeconds" type="xs:int" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="cookieName">
    <xs:sequence>
      <xs:element name="cookie" type="xs:string" minOccurs="0"/>
      <xs:element name="matchType" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="httpRequestMatchValueDTO">
    <xs:sequence>
      <xs:element name="name" type="xs:string" minOccurs="0"/>
      <xs:element name="operation" type="xs:string" minOccurs="0"/>
      <xs:element name="part" type="xs:string" minOccurs="0"/>
      <xs:element name="value" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="signatureDTO">
    <xs:sequence>
      <xs:element name="isUserDefined" type="xs:boolean" minOccurs="0"/>
      <xs:element name="name" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="timeOfDayRestrictionDTO">
    <xs:sequence>
      <xs:element name="dayOfWeek" type="xs:string" minOccurs="0"/>
      <xs:element name="from" type="xs:string" minOccurs="0"/>
      <xs:element name="to" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="policyApplyToServiceDTO">
    <xs:complexContent>
      <xs:extension base="applyTo">
        <xs:sequence>
          <xs:element name="webApplicationName" type="xs:string" minOccurs="0"/>
          <xs:element name="webServiceName" type="xs:string" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="applyTo">
    <xs:sequence>
      <xs:element name="operation" type="updateOperation" minOccurs="0"/>
      <xs:element name="serverGroupName" type="xs:string" minOccurs="0"/>
      <xs:element name="siteName" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="Sites">
    <xs:sequence>
      <xs:element name="sites" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="Mxs">
    <xs:sequence>
      <xs:element name="mxs" type="Mx" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="Mx">
    <xs:sequence>
      <xs:element name="host" type="xs:string" minOccurs="0"/>
      <xs:element name="name" type="xs:string" minOccurs="0"/>
      <xs:element name="password" type="xs:string" minOccurs="0"/>
      <xs:element name="username" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="DopOperationNavigationRequestDTO">
    <xs:sequence>
      <xs:element name="back" type="xs:boolean" minOccurs="0"/>
      <xs:element name="context" type="DopFileContext" minOccurs="0"/>
      <xs:element name="data-owner-id" type="xs:long" minOccurs="0"/>
      <xs:element name="folder-sorting" type="xs:string" minOccurs="0"/>
      <xs:element name="operation-object" type="DopOperationObjectDTO" minOccurs="0"/>
      <xs:element name="operation-permission" type="DopOperationPermissionDTO" minOccurs="0"/>
      <xs:element name="page-size" type="xs:int"/>
      <xs:element name="permission-sorting" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="DopOperationObjectDTO">
    <xs:sequence>
      <xs:element name="full-path" type="xs:string" minOccurs="0"/>
      <xs:element name="object-id" type="xs:long" minOccurs="0"/>
      <xs:element name="parent-id" type="xs:long" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="DopOperationPermissionDTO">
    <xs:sequence>
      <xs:element name="direct" type="xs:boolean" minOccurs="0"/>
      <xs:element name="permission-levels" type="xs:string" minOccurs="0"/>
      <xs:element name="principal-id" type="xs:long" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="Site">
    <xs:sequence>
      <xs:element name="name" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="krpItemDetails">
    <xs:sequence>
      <xs:element name="aliasName" type="xs:string" minOccurs="0"/>
      <xs:element name="clientAuthenticationAuthorities" type="xs:string" minOccurs="0"/>
      <xs:element name="clientAuthenticationRules">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="entry" minOccurs="0" maxOccurs="unbounded">
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="key" minOccurs="0" type="xs:int"/>
                  <xs:element name="value" minOccurs="0" type="xs:string"/>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="gatewayGroupName" type="xs:string" minOccurs="0"/>
      <xs:element name="gatewayPorts" type="xs:int" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="serverCertificate" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="FamRepositoryUsers">
    <xs:sequence>
      <xs:element name="fam-repository-users" type="FamRepositoryUser" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="FamRepositoryUser">
    <xs:sequence>
      <xs:element name="department" type="xs:string" minOccurs="0"/>
      <xs:element name="email" type="xs:string" minOccurs="0"/>
      <xs:element name="full-name" type="xs:string" minOccurs="0"/>
      <xs:element name="id" type="xs:string" minOccurs="0"/>
      <xs:element name="manager-email" type="xs:string" minOccurs="0"/>
      <xs:element name="manager-full-name" type="xs:string" minOccurs="0"/>
      <xs:element name="manager-id" type="xs:string" minOccurs="0"/>
      <xs:element name="user-name" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="runsResultsFilter">
    <xs:sequence>
      <xs:element name="end-date" type="xs:string" minOccurs="0"/>
      <xs:element name="run-ids" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="start-date" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="DBApplication">
    <xs:sequence>
      <xs:element name="name" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="WebServiceDetails">
    <xs:complexContent>
      <xs:extension base="WebService">
        <xs:sequence>
          <xs:element name="default-application" type="xs:string" minOccurs="0"/>
          <xs:element name="name" type="xs:string" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="WebService">
    <xs:sequence>
      <xs:element name="http2" type="xs:boolean" minOccurs="0"/>
      <xs:element name="ports" type="xs:int" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="sslPorts" type="xs:int" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="CreateProtectedIP">
    <xs:sequence>
      <xs:element name="comment" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="IpGroupEntries">
    <xs:sequence>
      <xs:element name="entries" type="IpGroupEntry" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="IpGroupEntry">
    <xs:sequence>
      <xs:element name="cidrMask" type="xs:int" minOccurs="0"/>
      <xs:element name="ipAddressFrom" type="xs:string" minOccurs="0"/>
      <xs:element name="ipAddressTo" type="xs:string" minOccurs="0"/>
      <xs:element name="networkAddress" type="xs:string" minOccurs="0"/>
      <xs:element name="operation" type="updateOperation" minOccurs="0"/>
      <xs:element name="type" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="Tag">
    <xs:sequence>
      <xs:element name="name" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="DopFileObjPathInfoDTO">
    <xs:sequence>
      <xs:element name="logical-path" type="xs:string" minOccurs="0"/>
      <xs:element name="object-type" type="object-type" minOccurs="0"/>
      <xs:element name="physical-path" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="LicenseFile">
    <xs:sequence>
      <xs:element name="licenseContent" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="Challenge">
    <xs:sequence>
      <xs:element name="challenge" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="Jobs">
    <xs:sequence>
      <xs:element name="jobs" type="Job" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="Job">
    <xs:sequence>
      <xs:element name="aborting" type="xs:boolean" minOccurs="0"/>
      <xs:element name="abortable" type="xs:boolean" minOccurs="0"/>
      <xs:element name="id" type="xs:long" minOccurs="0"/>
      <xs:element name="name" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="agentGeneralDetailsDTO">
    <xs:sequence>
      <xs:element name="general-info" type="generalInfo" minOccurs="0"/>
      <xs:element name="properties">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="entry" minOccurs="0" maxOccurs="unbounded">
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="key" minOccurs="0" type="xs:string"/>
                  <xs:element name="value" minOccurs="0" type="xs:string"/>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="status" type="status" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="generalInfo">
    <xs:sequence>
      <xs:element name="creation-time" type="xs:string" minOccurs="0"/>
      <xs:element name="ip" type="xs:string" minOccurs="0"/>
      <xs:element name="manual-settings-activation" type="xs:string" minOccurs="0"/>
      <xs:element name="name" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="status">
    <xs:sequence>
      <xs:element name="active-gateway" type="xs:string" minOccurs="0"/>
      <xs:element name="configuration-status" type="xs:string" minOccurs="0"/>
      <xs:element name="connections-per-sec" type="xs:string" minOccurs="0"/>
      <xs:element name="cpu-utilization" type="xs:string" minOccurs="0"/>
      <xs:element name="general-status" type="xs:string" minOccurs="0"/>
      <xs:element name="hits-per-sec" type="xs:string" minOccurs="0"/>
      <xs:element name="last-activity" type="xs:string" minOccurs="0"/>
      <xs:element name="last-status-update" type="xs:string" minOccurs="0"/>
      <xs:element name="last-updated" type="xs:string" minOccurs="0"/>
      <xs:element name="start-time" type="xs:string" minOccurs="0"/>
      <xs:element name="throughput-kb" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="ItemsToExport">
    <xs:sequence>
      <xs:element name="items-to-export" type="ItemTypeToExport" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="ItemTypeToExport">
    <xs:sequence>
      <xs:element name="names" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="type" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="FilePermissionsStat">
    <xs:sequence>
      <xs:element name="due-date" type="xs:long" minOccurs="0"/>
      <xs:element name="not-reviewed" type="xs:int" minOccurs="0"/>
      <xs:element name="progress-rate" type="xs:int" minOccurs="0"/>
      <xs:element name="submitted" type="xs:int" minOccurs="0"/>
      <xs:element name="total" type="xs:int" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="WebServices">
    <xs:sequence>
      <xs:element name="web-services" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="agentCpuUsageRestrainingDTO">
    <xs:sequence>
      <xs:element name="cpu-usage-limit" type="xs:int"/>
      <xs:element name="enabled" type="xs:boolean"/>
      <xs:element name="time-to-reactivate" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="agentDiscoverySettingsDTO">
    <xs:sequence>
      <xs:element name="enabled" type="xs:boolean"/>
      <xs:element name="scan-interval" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="GatewayGroups">
    <xs:sequence>
      <xs:element name="gateway-groups" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="Agents">
    <xs:sequence>
      <xs:element name="agents" type="Agent" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="Agent">
    <xs:sequence>
      <xs:element name="ip" type="xs:string" minOccurs="0"/>
      <xs:element name="name" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="WebApplication">
    <xs:sequence>
      <xs:element name="appName" type="xs:string" minOccurs="0"/>
      <xs:element name="ignoreUrlsDirectories" type="xs:string" minOccurs="0"/>
      <xs:element name="learnSettings" type="xs:string" minOccurs="0"/>
      <xs:element name="parseOCSPRequests" type="xs:boolean" minOccurs="0"/>
      <xs:element name="restrictMonitoringToUrls" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="DatasetRecordsAction">
    <xs:complexContent>
      <xs:extension base="DatasetRecords">
        <xs:sequence>
          <xs:element name="action" type="datasetAction" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="DatasetRecords">
    <xs:sequence>
      <xs:element name="records" type="hashMap" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="hashMap">
    <xs:complexContent>
      <xs:extension base="abstractMap">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="abstractMap" abstract="true">
    <xs:sequence/>
  </xs:complexType>

  <xs:complexType name="DopOperationNavigationResponseDTO">
    <xs:sequence>
      <xs:element name="context" type="DopFileContext" minOccurs="0"/>
      <xs:element name="file-object-paging" type="RecordsRange" minOccurs="0"/>
      <xs:element name="operation-object" type="DopOperationObjectDTO" minOccurs="0"/>
      <xs:element name="operation-permission" type="DopOperationPermissionDTO" minOccurs="0"/>
      <xs:element name="parent-operation-object" type="DopOperationObjectDTO" minOccurs="0"/>
      <xs:element name="permission-paging" type="RecordsRange" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="RecordsRange">
    <xs:sequence>
      <xs:element name="from-record" type="xs:string" minOccurs="0"/>
      <xs:element name="to-record" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="Applications">
    <xs:sequence>
      <xs:element name="applications" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="activeAlarmDTO">
    <xs:sequence>
      <xs:element name="alarmTypeId" type="xs:string" minOccurs="0"/>
      <xs:element name="discoveredDate" type="xs:string" minOccurs="0"/>
      <xs:element name="elementDeploymentName" type="xs:string" minOccurs="0"/>
      <xs:element name="elementIp" type="xs:string" minOccurs="0"/>
      <xs:element name="elementName" type="xs:string" minOccurs="0"/>
      <xs:element name="elementType" type="xs:string" minOccurs="0"/>
      <xs:element name="investigateLink" type="xs:string" minOccurs="0"/>
      <xs:element name="shortDescription" type="xs:string" minOccurs="0"/>
      <xs:element name="subSystem" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="DBSecurityPolicies">
    <xs:sequence>
      <xs:element name="db-security-policies" type="DBSecurityPolicy" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="DBSecurityPolicy">
    <xs:complexContent>
      <xs:extension base="Policy">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="Policy">
    <xs:sequence>
      <xs:element name="policy-name" type="xs:string" minOccurs="0"/>
      <xs:element name="policy-type" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="CreateDBService">
    <xs:complexContent>
      <xs:extension base="DBService">
        <xs:sequence>
          <xs:element name="db-service-type" type="xs:string" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="DBService" abstract="true">
    <xs:sequence>
      <xs:element name="ports" type="xs:int" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="runsFilter">
    <xs:sequence>
      <xs:element name="end-date" type="xs:string" minOccurs="0"/>
      <xs:element name="scans" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="start-date" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="DopFileObjectsDTO">
    <xs:sequence>
      <xs:element name="do-file-objects" type="DopFileObjectDTO" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="total-records" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="DopFileObjectDTO">
    <xs:sequence>
      <xs:element name="contains-tasks-for-do" type="xs:boolean" minOccurs="0"/>
      <xs:element name="current-do-name" type="xs:string" minOccurs="0"/>
      <xs:element name="do-file-context" type="DopFileContext" minOccurs="0"/>
      <xs:element name="file-name" type="xs:string" minOccurs="0"/>
      <xs:element name="file-name-in-path" type="xs:string" minOccurs="0"/>
      <xs:element name="id" type="xs:long" minOccurs="0"/>
      <xs:element name="object-type" type="object-type" minOccurs="0"/>
      <xs:element name="is-original-do" type="xs:boolean" minOccurs="0"/>
      <xs:element name="original-do-name" type="xs:string" minOccurs="0"/>
      <xs:element name="ownership-status" type="doFileOwnershipStatus" minOccurs="0"/>
      <xs:element name="parent-id" type="xs:long" minOccurs="0"/>
      <xs:element name="status" type="doFileReviewStatus" minOccurs="0"/>
      <xs:element name="todo-mark" type="xs:boolean" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="TreeFolderObjs">
    <xs:sequence>
      <xs:element name="tree-folder-objs" type="TreeFolderObj" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="TreeFolderObj">
    <xs:sequence>
      <xs:element name="depth" type="xs:int"/>
      <xs:element name="do-file-contexts" type="DopFileContext" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="file-type" type="object-type" minOccurs="0"/>
      <xs:element name="folder-name" type="xs:string" minOccurs="0"/>
      <xs:element name="folder-name-in-path" type="xs:string" minOccurs="0"/>
      <xs:element name="id" type="xs:long" minOccurs="0"/>
      <xs:element name="review-status" type="xs:string" minOccurs="0"/>
      <xs:element name="todo-mark" type="xs:boolean" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="AdvancedConfig">
    <xs:sequence>
      <xs:element name="advancedParams">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="entry" minOccurs="0" maxOccurs="unbounded">
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="key" minOccurs="0" type="xs:string"/>
                  <xs:element name="value" minOccurs="0" type="xs:string"/>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="DB-connections">
    <xs:sequence>
      <xs:element name="connections" type="DB-connection" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="DB-connection">
    <xs:sequence>
      <xs:element name="connection-string" type="xs:string" minOccurs="0"/>
      <xs:element name="db-name" type="xs:string" minOccurs="0"/>
      <xs:element name="display-name" type="xs:string" minOccurs="0"/>
      <xs:element name="ip-address" type="xs:string" minOccurs="0"/>
      <xs:element name="password" type="xs:string" minOccurs="0"/>
      <xs:element name="port" type="xs:string" minOccurs="0"/>
      <xs:element name="server-group-name" type="xs:string" minOccurs="0"/>
      <xs:element name="server-name" type="xs:string" minOccurs="0"/>
      <xs:element name="service-name" type="xs:string" minOccurs="0"/>
      <xs:element name="site-name" type="xs:string" minOccurs="0"/>
      <xs:element name="user-mapping" type="xs:string" minOccurs="0"/>
      <xs:element name="user-name" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="DatasetColumns">
    <xs:complexContent>
      <xs:extension base="datasetBaseDTO">
        <xs:sequence>
          <xs:element name="columns" type="DatasetColumn" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element name="number-of-columns" type="xs:int"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="datasetBaseDTO" abstract="true">
    <xs:sequence>
      <xs:element name="dataset-name" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="DatasetColumn">
    <xs:sequence>
      <xs:element name="key" type="xs:boolean"/>
      <xs:element name="name" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="OS-connection">
    <xs:sequence>
      <xs:element name="connection-mode" type="xs:string" minOccurs="0"/>
      <xs:element name="domain" type="xs:string" minOccurs="0"/>
      <xs:element name="host-name" type="xs:string" minOccurs="0"/>
      <xs:element name="ip" type="xs:string" minOccurs="0"/>
      <xs:element name="OS-type" type="xs:string" minOccurs="0"/>
      <xs:element name="password" type="xs:string" minOccurs="0"/>
      <xs:element name="folder-path" type="xs:string" minOccurs="0"/>
      <xs:element name="share-name" type="xs:string" minOccurs="0"/>
      <xs:element name="user-name" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="SystemDefinition">
    <xs:sequence>
      <xs:element name="value" type="xs:anyType" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="runsRunsFieldsFilter">
    <xs:sequence>
      <xs:element name="end-date" type="xs:string" minOccurs="0"/>
      <xs:element name="run-ids" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="start-date" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="StrictMode">
    <xs:sequence>
      <xs:element name="mode" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="ServerGroup">
    <xs:sequence>
      <xs:element name="name" type="xs:string" minOccurs="0"/>
      <xs:element name="operationMode" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="HostToApplicationMappings">
    <xs:sequence>
      <xs:element name="hostToAppMappings" type="HostToApplicationMapping" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="ProtectedIPs">
    <xs:sequence>
      <xs:element name="protected-ips" type="UpdateProtectedIP" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="WebApplicationCreation">
    <xs:sequence>
      <xs:element name="ignoreUrlsDirectories" type="xs:string" minOccurs="0"/>
      <xs:element name="learnSettings" type="xs:string" minOccurs="0"/>
      <xs:element name="parseOCSPRequests" type="xs:boolean" minOccurs="0"/>
      <xs:element name="restrictMonitoringToUrls" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="runsRecordsFilter">
    <xs:sequence>
      <xs:element name="end-date" type="xs:string" minOccurs="0"/>
      <xs:element name="result-ids" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="run-ids" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="start-date" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="TableGroupRecords">
    <xs:sequence>
      <xs:element name="records" type="hashMap" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="FirewallPolicy">
    <xs:sequence>
      <xs:element name="action" type="xs:string" minOccurs="0"/>
      <xs:element name="allowAppServicePorts" type="xs:boolean" minOccurs="0"/>
      <xs:element name="applyTo" type="applyTo" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="enabled" type="xs:boolean" minOccurs="0"/>
      <xs:element name="establishedConnectionsBlock" type="xs:boolean" minOccurs="0"/>
      <xs:element name="rules" type="FirewallRule" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="followedAction" type="xs:string" minOccurs="0"/>
      <xs:element name="inboundOperation" type="xs:string" minOccurs="0"/>
      <xs:element name="outboundOperation" type="xs:string" minOccurs="0"/>
      <xs:element name="sendToCd" type="xs:boolean" minOccurs="0"/>
      <xs:element name="severity" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="FirewallRule">
    <xs:sequence>
      <xs:element name="direction" type="xs:string" minOccurs="0"/>
      <xs:element name="ipGroup" type="xs:string" minOccurs="0"/>
      <xs:element name="operation" type="updateOperation" minOccurs="0"/>
      <xs:element name="protocol" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="GatewayAlias">
    <xs:sequence>
      <xs:element name="aliasComment" type="xs:string" minOccurs="0"/>
      <xs:element name="aliasName" type="xs:string" minOccurs="0"/>
      <xs:element name="externalIpAddress" type="xs:string" minOccurs="0"/>
      <xs:element name="gatewayName" type="xs:string" minOccurs="0"/>
      <xs:element name="interfaceName" type="xs:string" minOccurs="0"/>
      <xs:element name="internalIpAddress" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="DOFoldersToCheckTodoDTO">
    <xs:sequence>
      <xs:element name="get-children-info" type="FolderInfoPairDTO" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="cur-do-id" type="xs:string" minOccurs="0"/>
      <xs:element name="get-do-file-context" type="DopFileContext" minOccurs="0"/>
      <xs:element name="get-parents-info" type="FolderInfoPairDTO" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="FolderInfoPairDTO">
    <xs:sequence>
      <xs:element name="full-path" type="xs:string" minOccurs="0"/>
      <xs:element name="id" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="RootApplicationGroupsTree">
    <xs:sequence>
      <xs:element name="application-groups" type="ApplicationGroupTree" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="ApplicationGroupTree">
    <xs:sequence>
      <xs:element name="applications" type="ApplicationTree" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="application-groups" type="ApplicationGroupTree" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="name" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="ApplicationTree">
    <xs:sequence>
      <xs:element name="application" type="xs:string" minOccurs="0"/>
      <xs:element name="server-group" type="xs:string" minOccurs="0"/>
      <xs:element name="service" type="xs:string" minOccurs="0"/>
      <xs:element name="site" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="TaggedItems">
    <xs:sequence>
      <xs:element name="objects" type="TaggedItem" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="targets" type="TaggedItem" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="TaggedItem">
    <xs:sequence>
      <xs:element name="name" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="DataInterfaces">
    <xs:sequence>
      <xs:element name="data-interfaces" type="DataInterface" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="DataInterface">
    <xs:sequence>
      <xs:element name="id" type="xs:string" minOccurs="0"/>
      <xs:element name="port" type="xs:string" minOccurs="0"/>
      <xs:element name="type" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="CreateHostToApplicationMapping">
    <xs:sequence>
      <xs:element name="host" type="xs:string" minOccurs="0"/>
      <xs:element name="hostMatchType" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="DatasetRecordsOutput">
    <xs:complexContent>
      <xs:extension base="datasetBaseDTO">
        <xs:sequence>
          <xs:element name="records" type="hashMap" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element name="number-of-records" type="xs:int"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="ApplicationGroup">
    <xs:sequence>
      <xs:element name="name" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="Tags">
    <xs:sequence>
      <xs:element name="tags" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="certificateDTO">
    <xs:sequence>
      <xs:element name="hsm" type="xs:boolean"/>
      <xs:element name="issuer" type="xs:string" minOccurs="0"/>
      <xs:element name="sslKeyName" type="xs:string" minOccurs="0"/>
      <xs:element name="validFrom" type="xs:long"/>
      <xs:element name="validTo" type="xs:long"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="DopUpdateOperationDTO">
    <xs:sequence>
      <xs:element name="context" type="DopFileContext" minOccurs="0"/>
      <xs:element name="update-operation-info" type="DopUpdateOperationInfoDTO" minOccurs="0"/>
      <xs:element name="update-operation-target" type="DopUpdateOperationTargetDTO" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="DopUpdateOperationInfoDTO">
    <xs:sequence>
      <xs:element name="action" type="xs:string" minOccurs="0"/>
      <xs:element name="comment" type="xs:string" minOccurs="0"/>
      <xs:element name="delegate-data-owner" type="FamRepositoryUser" minOccurs="0"/>
      <xs:element name="is-recursive" type="xs:boolean" minOccurs="0"/>
      <xs:element name="update-operation-type" type="updateOperationType" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="DopUpdateOperationTargetDTO">
    <xs:sequence>
      <xs:element name="full-path" type="xs:string" minOccurs="0"/>
      <xs:element name="logical-full-path" type="xs:string" minOccurs="0"/>
      <xs:element name="object-Id" type="xs:string" minOccurs="0"/>
      <xs:element name="object-type" type="object-type" minOccurs="0"/>
      <xs:element name="permission-list" type="DopPrincipalPermissionPairDTO" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="DopPrincipalPermissionPairDTO">
    <xs:sequence>
      <xs:element name="permission-levels" type="xs:string" minOccurs="0"/>
      <xs:element name="principal-id" type="xs:long" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="UpdateDBService">
    <xs:complexContent>
      <xs:extension base="DBService">
        <xs:sequence>
          <xs:element name="db-mappings" type="DBMapping" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element name="default-application" type="xs:string" minOccurs="0"/>
          <xs:element name="name" type="xs:string" minOccurs="0"/>
          <xs:element name="text-replacement" type="SQLReplacement" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="DBMapping">
    <xs:sequence>
      <xs:element name="application" type="xs:string" minOccurs="0"/>
      <xs:element name="database" type="xs:string" minOccurs="0"/>
      <xs:element name="schema" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="SQLReplacement">
    <xs:sequence>
      <xs:element name="advanced" type="xs:boolean"/>
      <xs:element name="location" type="xs:string" minOccurs="0"/>
      <xs:element name="pattern" type="xs:string" minOccurs="0"/>
      <xs:element name="replacement" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="Gateways">
    <xs:sequence>
      <xs:element name="gateways" type="Gateway" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="Gateway">
    <xs:sequence>
      <xs:element name="ip" type="xs:string" minOccurs="0"/>
      <xs:element name="name" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="AuditPolicies">
    <xs:sequence>
      <xs:element name="audit-policies" type="AuditPolicy" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="AuditPolicy">
    <xs:complexContent>
      <xs:extension base="Policy">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="RegistrationToken">
    <xs:sequence>
      <xs:element name="registration-token" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="uploadCertificateDTO">
    <xs:sequence>
      <xs:element name="format" type="xs:string" minOccurs="0"/>
      <xs:element name="hsm" type="xs:boolean" minOccurs="0"/>
      <xs:element name="certificate" type="xs:string" minOccurs="0"/>
      <xs:element name="private" type="xs:string" minOccurs="0"/>
      <xs:element name="pkcs12file" type="xs:string" minOccurs="0"/>
      <xs:element name="password" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="WebApplications">
    <xs:sequence>
      <xs:element name="webApplications" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="forwardConnections">
    <xs:sequence>
      <xs:element name="forwardedConnections" type="forwardConnection" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="useHttpForwardingHeader" type="xs:boolean" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="forwardConnection">
    <xs:sequence>
      <xs:element name="headerName" type="xs:string" minOccurs="0"/>
      <xs:element name="operation" type="updateOperation" minOccurs="0"/>
      <xs:element name="proxyIpGroup" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="TableGroupRecordsAction">
    <xs:complexContent>
      <xs:extension base="TableGroupRecords">
        <xs:sequence>
          <xs:element name="action" type="tableGroupAction" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="OS-connections">
    <xs:sequence>
      <xs:element name="connections" type="OS-connection" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="Version">
    <xs:sequence>
      <xs:element name="serverVersion" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="krpItems">
    <xs:sequence>
      <xs:element name="inboundKrpRules" type="krpItemDetails" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="TableGroupRecordsOutput">
    <xs:complexContent>
      <xs:extension base="TableGroupRecords">
        <xs:sequence>
          <xs:element name="tablegroup-name" type="xs:string" minOccurs="0"/>
          <xs:element name="number-of-records" type="xs:int"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="DopApplicationDataDTO">
    <xs:sequence>
      <xs:element name="review-mode" type="reviewMode" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="GatewayGroup">
    <xs:sequence>
      <xs:element name="cluster" type="xs:boolean"/>
      <xs:element name="failMode" type="xs:string" minOccurs="0"/>
      <xs:element name="gatewayGroupName" type="xs:string" minOccurs="0"/>
      <xs:element name="gatewayMode" type="xs:string" minOccurs="0"/>
      <xs:element name="gatewayPlatform" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="ServerGroups">
    <xs:sequence>
      <xs:element name="server-groups" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:simpleType name="fileProtocolType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="CIFS"/>
      <xs:enumeration value="NFS"/>
      <xs:enumeration value="SHAREPOINT"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="principalType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="USER"/>
      <xs:enumeration value="AD_GROUP"/>
      <xs:enumeration value="SP_GROUP"/>
      <xs:enumeration value="LOCAL_USER"/>
      <xs:enumeration value="LOCAL_GROUP"/>
      <xs:enumeration value="UNKNOWN_USER"/>
      <xs:enumeration value="UNKNOWN_GROUP"/>
      <xs:enumeration value="DOMAIN_GROUP"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="permissionStatus">
    <xs:restriction base="xs:string">
      <xs:enumeration value="NotReviewed"/>
      <xs:enumeration value="Approve"/>
      <xs:enumeration value="Reject"/>
      <xs:enumeration value="NotMine"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="updateOperation">
    <xs:restriction base="xs:string">
      <xs:enumeration value="add"/>
      <xs:enumeration value="update"/>
      <xs:enumeration value="remove"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="object-type">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Collection"/>
      <xs:enumeration value="Site"/>
      <xs:enumeration value="List"/>
      <xs:enumeration value="ListItem"/>
      <xs:enumeration value="Library"/>
      <xs:enumeration value="Folder"/>
      <xs:enumeration value="File"/>
      <xs:enumeration value="Link"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="datasetAction">
    <xs:restriction base="xs:string">
      <xs:enumeration value="add"/>
      <xs:enumeration value="delete"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="doFileOwnershipStatus">
    <xs:restriction base="xs:string">
      <xs:enumeration value="OriginalOwner"/>
      <xs:enumeration value="Delegated"/>
      <xs:enumeration value="Reassigned"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="doFileReviewStatus">
    <xs:restriction base="xs:string">
      <xs:enumeration value="REVIEWED"/>
      <xs:enumeration value="NOT_REVIEWED"/>
      <xs:enumeration value="PARTIALLY_REVIEWED"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="updateOperationType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="UpdateFile"/>
      <xs:enumeration value="UpdatePermission"/>
      <xs:enumeration value="ApproveAll"/>
      <xs:enumeration value="Delegate"/>
      <xs:enumeration value="Reassign"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="tableGroupAction">
    <xs:restriction base="xs:string">
      <xs:enumeration value="add"/>
      <xs:enumeration value="delete"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="reviewMode">
    <xs:restriction base="xs:string">
      <xs:enumeration value="DIRECT_ONLY"/>
      <xs:enumeration value="INHERITED"/>
      <xs:enumeration value="NON_RECURSIVE"/>
    </xs:restriction>
  </xs:simpleType>
</xs:schema>

